.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;

  &.completed {
    background-color: #d3d3d3;
  }

  .title {
    display: flex;
    align-items: center;

    .title_text {
      margin-left: 10px;

      &.completed {
        text-decoration: line-through;
      }
    }
    .estimated_time,
    .category,
    .assigned_date {
      padding-left: 10px;
    }
  }

  .right_item {
    display: flex;
    align-items: center;

    .calendar_button,
    .edit_button,
    .delete_button {
      border: none;
      border-radius: 5px;
      background-color: #f3f3f3;
      cursor: pointer;

      .icon {
        width: 40px;
        color: #666666;
      }
    }

    .calendar_button,
    .edit_button {
      margin-right: 5px;
    }
  }
}
